---
layout: page
title: People
show_title: true
permalink: /people/
tags: people
---


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  .btn {
  background-color: #A0D4A4;
  color: white;
  padding: 0px 4px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px
  }
  .btn:hover {
      background-color: #999;
  }
</style>


{% for rank in site.data.ranks %}
{% assign members = 0 %}
{% for person in site.data.people %}
  {% if rank.keyword == person.rank %}
    {% assign members = 1 %}
  {% endif %}
{% endfor %}
{% if members > 0 %}
<h2>{{ rank.display }}</h2>
<div>
  <table>
    {% for person in site.data.people %}
	  {% if person.rank == rank.keyword %}
    <tr>
      <td width="155">
        <img src="{{ person.picture | default: '/images/people/default.png' }}" width="150" style="border-radius:10px;" />
      </td>
      <td>
        <h3>{{ person.name }}</h3>
        {{ person.description }}
        {% if person.website.size > 0 %}
        <br><small><a href="{{ person.website }}" style="text-decoration:none;"><button class="btn">
          <i class="fa fa-external-link"></i> Personal Website</button></a></small>
        {% endif %}
      </td>
    </tr>
	  {% endif %}
    {% endfor %}
  </table>
{% endif %}
</div>
{% endfor %}
