---
layout: page
title: Publications
permalink: /publications/
tags: publications
---

<style>
  .button {
  background-color: #888888;
  color: white;
  padding: 2px 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  }
  .button:hover {
      background-color: #222222;
  }
</style>


{% for year in site.data.years %}
<h2>{{ year }}</h2>
<div>
  <table>
    {% for paper in site.data.publications %}
    {% if paper.year == year %}
    <tr>
      <td>
        <b>{{ paper.title }}</b><br>
	      {{ paper.authors }}<br>
        <i>{{ paper.venue }}</i><br>
        {% if paper.note.size > 0 %}
    	    {{ paper.note }}<br>
    	  {% endif %}
        {% if paper.pdf.size > 0 %}
        <a href="{{ paper.pdf }}" style="text-decoration:none;" class="button">
          <img src=/images/icons/paper.png style="max-height:13px;" />
          Read Paper</a>
        {% endif %}
      </td>
      <td style="vertical-align:middle; width:30%;">
        <center><img src="{{ paper.figure }}" style="max-height:200px; border-radius:5%;" /></center>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}
